<div class="flex w-screen h-full">
  <div
    class="flex flex-col gap-2 text-slate-500 fixed left-0 top-16 bottom-0 pt-12 items-center w-1/4 h-full"
  >
    <img
      *ngIf="userProfileImgUrl"
      [src]="userProfileImgUrl"
      class="w-[56px] h-[56px] md:w-[136px] md:h-[136px] xl:w-[268px] xl:h-[268px] md:rounded xl:rounded-md rounded-full mb-6 shadow"
      alt=""
    />
    <div
      *ngIf="!userProfileImgUrl"
      class="w-[56px] h-[56px] md:w-[136px] md:h-[136px] xl:w-[268px] xl:h-[268px] md:rounded xl:rounded-md rounded-full animate-pulse bg-slate-200 mb-6 shadow"
    ></div>
    <div
      class="w-full flex flex-col flex-wrap overflow-clip items-start p-info mb-6"
    >
      <div
        class="w-full font-bold text-xs md:text-base xl:text-lg truncate text-zinc-700"
        *ngIf="(userInfo$ | async)?.firstName || (userInfo$ | async)?.lastName"
      >
        {{
          ((userInfo$ | async)?.firstName | titlecase) +
            " " +
            ((userInfo$ | async)?.lastName | titlecase)
        }}
      </div>
      <div
        class="h-2 animate-pulse bg-slate-200 rounded w-9/12 mb-3"
        *ngIf="
          !((userInfo$ | async)?.firstName && (userInfo$ | async)?.lastName)
        "
      ></div>
      <div
        class="w-full text-[0.5rem] md:text-sm truncate text-slate-400"
        *ngIf="(userInfo$ | async)?.email"
      >
        {{ (userInfo$ | async)?.email }}
      </div>
      <div
        class="h-2 animate-pulse bg-slate-200 rounded w-7/12"
        *ngIf="!(userInfo$ | async)?.email"
      ></div>
    </div>
    <div class="w-full flex items-center p-info text-sm">
      <span class="block text-sky-600 font-bold pr-2.5">{{
        (postNum$ | async) || 0
      }}</span
      >Posts
    </div>
    <div class="w-full flex items-center p-info text-sm">
      <span class="block text-sky-600 font-bold pr-2.5">{{
        (friendsNum$ | async) || 0
      }}</span
      >Friends
    </div>
  </div>
  <div class="flex justify-center w-3/4 h-full router-content">
    <router-outlet></router-outlet>
  </div>
</div>
