<div class="flex w-screen h-full px-[5vw]">
  <div
    class="flex flex-col gap-2 text-slate-500 fixed left-[5vw] top-16 bottom-0 pt-12 items-center w-[20vw] h-full"
  >
    <div class="relative group w-[20vw] h-[20vw]" *ngIf="userProfileImgUrl">
      <input
        type="file"
        #postImg
        accept=".png,.jpg,.jpeg"
        id="postImgUpload"
        (change)="updateProfileImg($event)"
        hidden
      />
      <label
        class="absolute inset-0 bg-transparent flex justify-end items-end pb-2 pr-2 z-10"
        for="postImgUpload"
      >
        <rmx-icon
          name="pencil-line"
          class="!hidden group-hover:!block h-7 w-7 bg-white rounded-full text-slate-500 text-base p-1"
        ></rmx-icon>
      </label>
      <img
        [src]="userProfileImgUrl"
        class="w-full h-full group-hover:brightness-75 rounded-2xl mb-6 shadow-xl"
        alt=""
      />
    </div>
    <div
      *ngIf="!userProfileImgUrl"
      class="w-[20vw] h-[20vw] rounded-2xl animate-pulse bg-slate-200 mb-4 shadow-xl"
    ></div>
    <div
      class="w-full flex flex-col flex-wrap overflow-clip items-start p-info mb-6"
    >
      <div
        class="w-full font-bold text-sm md:text-lg xl:text-2xl truncate text-zinc-700"
        *ngIf="(userInfo$ | async)?.firstName || (userInfo$ | async)?.lastName"
      >
        {{
          ((userInfo$ | async)?.firstName | titlecase) +
            " " +
            ((userInfo$ | async)?.lastName | titlecase)
        }}
      </div>
      <div
        class="h-2 animate-pulse bg-slate-200 rounded w-9/12 mb-3"
        *ngIf="
          !((userInfo$ | async)?.firstName && (userInfo$ | async)?.lastName)
        "
      ></div>
      <div
        class="w-full text-[0.5rem] md:text-sm truncate text-slate-400"
        *ngIf="(userInfo$ | async)?.email"
      >
        {{ (userInfo$ | async)?.email }}
      </div>
      <div
        class="h-2 animate-pulse bg-slate-200 rounded w-7/12"
        *ngIf="!(userInfo$ | async)?.email"
      ></div>
    </div>
    <div class="w-full flex items-center p-info text-sm">
      <span class="block text-sky-600 font-bold pr-2.5">{{
        (friendsNum$ | async) || 0
      }}</span
      >Friends
    </div>
    <div class="w-full flex items-center p-info text-sm">
      <span class="block text-sky-600 font-bold pr-2.5">{{
        (postNum$ | async) || 0
      }}</span
      >Posts
    </div>
  </div>
  <div class="flex w-[75vw] h-full ml-[20vw] pl-6">
    <router-outlet></router-outlet>
  </div>
</div>
