<div
  class="w-screen h-full flex gap-8 px-[5vw] text-sm font-bold items-center text-sky-400 bg-sky-100/50 backdrop-blur-sm ring-2 ring-slate-900/10"
>
  <div
    class="text-3xl font-extrabold text-sky-600 cursor-pointer"
    title="Fbook • Home"
    (click)="onHomeClick()"
  >
    fbook
  </div>
  <div class="w-full"></div>
  <a
    href="#"
    class="group nav-link"
    routerLink="/my-posts"
    routerLinkActive="active-link"
  >
    <rmx-icon
      class="inline-block group-hover:hidden"
      name="home-line"
    ></rmx-icon>
    <span class="hidden group-hover:inline-block">Home</span>
  </a>
  <a
    href="#"
    class="group nav-link"
    routerLink="/my-networks"
    routerLinkActive="active-link"
  >
    <rmx-icon
      class="inline-block group-hover:hidden"
      name="organization-chart"
    ></rmx-icon>
    <span class="hidden group-hover:inline-block">Network</span>
  </a>
  <a
    href="#"
    class="group nav-link relative"
    routerLink="/my-friends"
    routerLinkActive="active-link"
  >
    <rmx-icon
      class="inline-block group-hover:hidden"
      name="user-4-fill"
    ></rmx-icon>
    <span class="hidden group-hover:inline-block">Friends</span>
    <span class="pending-requests" *ngIf="numOfPendingRequests$ | async"
      >{{ numOfPendingRequests$ | async }}
    </span>
  </a>
  <a
    href="#"
    class="group nav-link"
    routerLink="/settings"
    routerLinkActive="active-link"
  >
    <rmx-icon
      class="inline-block group-hover:hidden"
      name="settings-fill"
    ></rmx-icon>
    <span class="hidden group-hover:inline-block">Settings</span>
  </a>
  <div class="hidden xl:block w-full"></div>
  <button class="logout" (click)="onLogOut()">
    <rmx-icon name="logout-circle-r-line"></rmx-icon>
  </button>
</div>
