<div class="card flex flex-col items-center w-full">
  <div class="w-full flex flex-col justify-start items-start">
    <div
      class="w-full font-bold text-xs md:text-base xl:text-lg truncate text-slate-700 px-[15px]"
    >
      {{ postData?.userName | titlecase }}
    </div>
    <div
      class="w-full text-[0.5rem] md:text-sm truncate text-slate-400 px-[15px]"
    >
      {{
        (postData?.profession || "User" | titlecase | trim) +
          " • " +
          (postData?.createdDate | timeAgo)
      }}
    </div>
    <quill-editor
      class="w-full mt-4"
      theme="bubble"
      [readOnly]="true"
      [formControl]="postText"
    >
    </quill-editor>
  </div>
</div>
