<div class="card flex items-start w-full">
  <div
    class="flex flex-col justify-start items-start"
    [ngClass]="postImgUrl && postImgUrl !== 'no_image' ? 'w-3/4' : 'w-10/12'"
  >
    <div
      class="w-full font-bold text-xs md:text-base xl:text-lg truncate text-slate-700 px-[15px]"
    >
      {{ postData?.userName | titlecase }}
    </div>
    <div
      class="w-full text-[0.5rem] md:text-sm truncate text-slate-400 px-[15px]"
    >
      {{
        (postData?.profession || "User" | titlecase | trim) +
          " • " +
          (postData?.createdDate | timeAgo)
      }}
    </div>
    <quill-editor
      class="w-full mt-4"
      theme="bubble"
      [readOnly]="true"
      [formControl]="postText"
    >
    </quill-editor>
  </div>
  <img
    *ngIf="postImgUrl && postImgUrl !== 'no_image'"
    [src]="postImgUrl"
    class="w-1/4 h-full object-cover rounded-md shadow-xl"
    alt=""
  />
  <div
    *ngIf="postImgUrl === 'no_image'"
    class="p-[12.5%] rounded-md animate-pulse bg-slate-200 shadow"
  ></div>
</div>
