<div
  class="w-screen fixed top-0 left-0 right-0 bg-transparent z-10"
  [ngClass]="location.path().includes('auth') ? 'hidden h-0' : 'h-16'"
>
  <app-tools></app-tools>
</div>
<div
  class="w-screen h-screen"
  [ngClass]="location.path().includes('auth') ? 'p-0' : 'pt-16'"
>
  <router-outlet></router-outlet>
</div>
<lib-toastify-toast-container
  [position]="(toastposition$ | async) ?? 'top-right'"
  [transition]="(toasttransition$ | async) ?? 'bounce'"
  [autoClose]="(toastautoClose$ | async) ?? 4000"
  [hideProgressBar]="(toasthideProgressBar$ | async) ?? false"
  [newestOnTop]="(toastnewestOnTop$ | async) ?? false"
  [closeOnClick]="(toastcloseOnClick$ | async) ?? true"
  [pauseOnHover]="(toastpauseOnHover$ | async) ?? true"
  [pauseOnVisibilityChange]="(toastpauseOnVisibilityChange$ | async) ?? true"
  [iconLibrary]="(toasticonLibrary$ | async) ?? 'font-awesome'"
></lib-toastify-toast-container>
