<div class="w-full h-full flex flex-col pt-6">
  <div
    class="flex flex-wrap md:flex-nowrap gap-2 w-full pb-6"
    *ngIf="
      !listOfAllUsers ||
      !listOfFriends ||
      listOfAllUsers.length === 0 ||
      listOfFriends.length === 0
    "
  >
    <div class="card w-full md:w-1/2" *ngFor="let i of [0, 1]">
      <div class="flex items-center w-full">
        <div class="flex items-center w-full gap-5">
          <div
            class="w-10 md:w-14 xl:w-20 aspect-square rounded-full animate-pulse bg-slate-200 shadow"
          ></div>
          <div class="flex flex-col w-full">
            <div
              class="w-11/12 h-2 animate-pulse bg-slate-200 rounded my-2"
            ></div>
            <div class="w-5/12 h-2 animate-pulse bg-slate-200 rounded"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3
    class="text-zinc-400 text-base pb-4"
    *ngIf="
      (listOfAllUsers | pendingFriends: friendListForMyRequest).length +
        (listOfAllUsers | pendingFriends: friendListForPendingRequest).length >
      0
    "
  >
    Pending Requests
  </h3>
  <div
    class="grid grid-flow-row md:grid-flow-col grid-rows-[auto_auto] min-h-[10rem] md:min-h-[13.5rem] lg:min-h-[17.5rem] overflow-x-auto overflow-y-auto md:overflow-y-hidden gap-x-6"
    *ngIf="
      listOfAllUsers &&
      listOfFriends &&
      listOfAllUsers.length > 0 &&
      listOfFriends.length > 0
    "
  >
    <app-network-detail
      *ngFor="
        let user of listOfAllUsers | pendingFriends: friendListForMyRequest
      "
      (onFriendStatusChange)="onUpdateFriend($event)"
      [userInformation]="user"
      [loggedInUserId]="loggedInUserId"
      [listOfFriends]="listOfFriends"
      [myRequest]="true"
    >
    </app-network-detail>
    <app-network-detail
      *ngFor="
        let user of listOfAllUsers | pendingFriends: friendListForPendingRequest
      "
      (onFriendStatusChange)="onUpdateFriend($event)"
      [userInformation]="user"
      [loggedInUserId]="loggedInUserId"
      [listOfFriends]="listOfFriends"
      [pendingRequest]="true"
    >
    </app-network-detail>
  </div>
  <h3
    class="text-zinc-400 text-base mt-4 pb-4"
    *ngIf="(listOfAllUsers | friends: friendListAccepted).length > 0"
  >
    Friends
  </h3>
  <div
    class="columns-md w-full pb-6"
    *ngIf="
      listOfAllUsers &&
      listOfFriends &&
      listOfAllUsers.length > 0 &&
      listOfFriends.length > 0
    "
  >
    <app-network-detail
      *ngFor="let user of listOfAllUsers | friends: friendListAccepted"
      [userInformation]="user"
      [loggedInUserId]="loggedInUserId"
      [actionRequired]="false"
    >
    </app-network-detail>
  </div>
</div>
