<div class="card w-full overflow-x-hidden">
  <div class="flex w-full justify-center items-center">
    <div class="step" [ngClass]="isVerified ? 'bg-lime-600' : 'bg-blue-600'">
      <rmx-icon name="search-2-line"></rmx-icon>
    </div>
    <div class="w-1/6 h-px bg-gray-300 mx-2"></div>
    <div class="step" [ngClass]="isVerified ? 'bg-blue-600' : 'bg-gray-400'">
      <rmx-icon name="restart-line"></rmx-icon>
    </div>
  </div>
  <form
    class="flex flex-col gap-3 mt-10"
    (ngSubmit)="onVerify()"
    [formGroup]="verificationGroup"
    [@panOut]="isVerified ? 'final' : 'initial'"
  >
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">Email</span>
      <input
        type="email"
        class="text-input"
        formControlName="email"
        [ngClass]="{
          'input-invalid':
            (is1stStepSubmitted ||
              verificationGroupControls['email'].touched) &&
            verificationGroupControls['email'].invalid
        }"
      />
      <div
        *ngIf="
          (is1stStepSubmitted || verificationGroupControls['email'].touched) &&
          verificationGroupControls['email'].invalid
        "
      >
        <p
          *ngIf="
            verificationGroupControls['email'].errors &&
            verificationGroupControls['email'].errors['required']
          "
          class="invalid-msg"
        >
          Email is required
        </p>
        <p
          *ngIf="
            verificationGroupControls['email'].errors &&
            verificationGroupControls['email'].errors['email']
          "
          class="invalid-msg"
        >
          Please provide a valid email address, e.g., john@example.com
        </p>
      </div>
    </label>
    <label class="block">
      <span class="block text-sm font-medium text-slate-700"
        >Date of birth</span
      >
      <input
        type="date"
        class="text-input"
        formControlName="dob"
        [ngClass]="{
          'input-invalid':
            (is1stStepSubmitted || verificationGroupControls['dob'].touched) &&
            verificationGroupControls['dob'].invalid
        }"
      />
      <div
        *ngIf="
          (is1stStepSubmitted || verificationGroupControls['dob'].touched) &&
          verificationGroupControls['dob'].invalid
        "
      >
        <p
          *ngIf="
            verificationGroupControls['dob'].errors &&
            verificationGroupControls['dob'].errors['required']
          "
          class="invalid-msg"
        >
          Date of birth is required
        </p>
      </div>
    </label>
    <div class="w-full flex justify-end items-center pt-3 pb-3">
      <button
        class="group flex w-max h-fit text-blue-500 hover:text-blue-600 bg-slate-50 border-none outline-none"
        *ngIf="!isVerified"
      >
        Proceed
        <rmx-icon
          class="ml-2 transition duration-300 ease-in-out group-hover:translate-x-1.5"
          name="arrow-right-line"
        ></rmx-icon>
      </button>
    </div>
  </form>
  <form
    class="flex flex-col gap-3 mt-10"
    (ngSubmit)="onPasswordReset()"
    [formGroup]="passwordGroup"
    [equalValidator]="['password', 'confirmPassword']"
    [@panIn]="isVerified ? 'final' : 'initial'"
  >
    <label class="block">
      <span class="block text-sm font-medium text-slate-700">New Password</span>
      <input
        type="password"
        class="text-input"
        formControlName="password"
        [ngClass]="{
          'input-invalid':
            (is2ndStepSubmitted || passwordGroupControls['password'].touched) &&
            passwordGroupControls['password'].invalid
        }"
      />
      <div
        *ngIf="
          (is2ndStepSubmitted || passwordGroupControls['password'].touched) &&
          passwordGroupControls['password'].invalid
        "
      >
        <p
          *ngIf="
            passwordGroupControls['password'].errors &&
            passwordGroupControls['password'].errors['required']
          "
          class="invalid-msg"
        >
          Password is required
        </p>
        <p
          *ngIf="
            passwordGroupControls['password'].errors &&
            passwordGroupControls['password'].errors['minlength']
          "
          class="invalid-msg"
        >
          Password must be at least 6 characters
        </p>
      </div>
    </label>
    <label class="block">
      <span class="block text-sm font-medium text-slate-700"
        >Confirm Password</span
      >
      <input
        type="password"
        class="text-input"
        formControlName="confirmPassword"
        [ngClass]="{
          'input-invalid':
            (is2ndStepSubmitted ||
              passwordGroupControls['confirmPassword'].touched) &&
            passwordGroupControls['confirmPassword'].invalid
        }"
      />
      <div
        *ngIf="
          (is2ndStepSubmitted ||
            passwordGroupControls['confirmPassword'].touched) &&
          passwordGroupControls['confirmPassword'].invalid
        "
      >
        <p
          *ngIf="
            passwordGroupControls['confirmPassword'].errors &&
            passwordGroupControls['confirmPassword'].errors['required']
          "
          class="invalid-msg"
        >
          Please confirm your new password
        </p>
        <p
          *ngIf="
            passwordGroupControls['confirmPassword'].errors &&
            passwordGroupControls['confirmPassword'].errors['minlength']
          "
          class="invalid-msg"
        >
          Password must be at least 6 characters
        </p>
        <p
          *ngIf="
            passwordGroupControls['confirmPassword'].errors &&
            passwordGroupControls['confirmPassword'].errors['mismatch']
          "
          class="invalid-msg"
        >
          Password doesn't match
        </p>
      </div>
    </label>
    <div class="w-full flex justify-center items-center pt-3 pb-3">
      <button class="btn-primary w-5/12" *ngIf="isVerified">Reset</button>
    </div>
  </form>
</div>
