<div
  class="card inline-grid py-4 w-full my-2"
  [ngClass]="
    (networkDetail?.gender | lowercase) === 'male'
      ? 'border-l-4 border-l-sky-200 border-solid'
      : (networkDetail?.gender | lowercase) === 'female'
      ? 'border-l-4 border-l-pink-200 border-solid'
      : ''
  "
  *ngIf="!isRequestSent"
>
  <div class="flex items-center w-full">
    <div class="flex items-center w-full gap-5">
      <img
        *ngIf="networkImgUrl && networkImgUrl !== 'no_image'"
        [src]="networkImgUrl"
        class="w-10 md:w-14 xl:w-20 aspect-square object-cover rounded-full shadow-xl"
        alt=""
      />
      <div
        *ngIf="networkImgUrl === 'no_image'"
        class="w-10 md:w-14 xl:w-20 aspect-square rounded-full animate-pulse bg-slate-200 shadow"
      ></div>
      <div
        class="flex flex-col"
        [ngClass]="listOfFriends ? 'max-w-[14.5rem]' : 'max-w-[17rem]'"
      >
        <div
          class="w-full h-fit font-bold text-xs md:text-base xl:text-lg truncate text-slate-500 py-1"
        >
          {{
            (networkDetail?.firstName || "" | titlecase) +
              " " +
              (networkDetail?.lastName || "" | titlecase)
          }}
        </div>
        <div class="w-full h-fit">
          <rmx-icon
            name="men-fill"
            class="text-sky-300"
            *ngIf="(networkDetail?.gender | lowercase) === 'male'; else women"
          ></rmx-icon>
          <ng-template #women
            ><rmx-icon
              name="women-fill"
              class="text-pink-300"
              *ngIf="
                (networkDetail?.gender | lowercase) === 'female';
                else no_gender
              "
            ></rmx-icon
          ></ng-template>
          <ng-template #no_gender>🍀</ng-template>
        </div>
      </div>
      <div
        class="ml-auto flex gap-6 items-center justify-end"
        *ngIf="actionRequired"
      >
        <button
          (click)="onChangeRelation('Request Pending')"
          class="send-request"
          *ngIf="!listOfFriends"
        >
          <rmx-icon name="user-add-line"></rmx-icon>
        </button>
        <button
          (click)="onChangeRelation('You are friend')"
          class="accept-request"
          *ngIf="listOfFriends && pendingRequest"
        >
          <rmx-icon name="check-fill"></rmx-icon>
        </button>
        <button
          (click)="onChangeRelation('Rejected Request')"
          class="reject-request"
          *ngIf="listOfFriends && pendingRequest"
        >
          <rmx-icon name="close-line"></rmx-icon>
        </button>
        <button
          (click)="onChangeRelation('Cancelled Request')"
          class="cancel-request"
          *ngIf="listOfFriends && myRequest"
        >
          <rmx-icon name="close-line"></rmx-icon>
        </button>
      </div>
    </div>
  </div>
</div>
