<div
  class="card py-4"
  [ngClass]="{
    '!border-l-[5px] border-l-sky-200 border-solid':
      (networkDetail?.gender | lowercase) === 'male',
    'border-l-[5px] border-l-pink-200 border-solid':
      (networkDetail?.gender | lowercase) === 'female',
    'grid !w-full md:!w-[30rem] !my-2 md:!m-0 ':
      actionRequired && listOfFriends,
    'inline-grid my-2 w-full': !actionRequired || !listOfFriends
  }"
  *ngIf="!isRequestSent"
>
  <div class="flex items-center w-full">
    <div class="flex items-center w-full gap-5">
      <img
        *ngIf="!forAdmin && networkImgUrl && networkImgUrl !== 'no_image'"
        [src]="networkImgUrl"
        class="w-10 md:w-14 xl:w-20 aspect-square object-cover rounded-full shadow-xl"
        alt=""
      />
      <div
        *ngIf="!forAdmin && networkImgUrl === 'no_image'"
        class="w-10 md:w-14 xl:w-20 aspect-square rounded-full animate-pulse bg-slate-200 shadow"
      ></div>
      <div
        class="flex flex-col"
        [ngClass]="listOfFriends ? 'max-w-[14.5rem]' : 'max-w-[17rem]'"
      >
        <div
          class="w-full h-fit font-bold text-xs md:text-base xl:text-lg truncate text-slate-500 py-1"
        >
          {{
            (networkDetail?.firstName || "" | titlecase) +
              " " +
              (networkDetail?.lastName || "" | titlecase)
          }}
        </div>
        <div class="w-full h-fit flex items-center gap-5">
          <rmx-icon
            name="men-fill"
            class="text-sky-300 scale-75"
            *ngIf="(networkDetail?.gender | lowercase) === 'male'; else women"
          ></rmx-icon>
          <ng-template #women
            ><rmx-icon
              name="women-fill"
              class="text-pink-300 scale-75"
              *ngIf="
                (networkDetail?.gender | lowercase) === 'female';
                else no_gender
              "
            ></rmx-icon
          ></ng-template>
          <ng-template #no_gender class="scale-75">🍀</ng-template>
          <div
            class="flex items-end text-slate-400/90 text-sm w-max"
            *ngIf="networkDetail?.country"
          >
            <rmx-icon
              name="map-pin-5-line"
              class="scale-75 text-sky-300"
            ></rmx-icon>
            <span class="inline-block truncate max-w-[20ch]">{{
              networkDetail?.country
            }}</span>
          </div>
        </div>
      </div>
      <div
        class="ml-auto flex gap-6 items-center justify-end"
        *ngIf="actionRequired && !forAdmin"
      >
        <button
          (click)="onChangeRelation('Request Pending')"
          class="acceptive"
          tooltip="Add Friend"
          *ngIf="!listOfFriends"
        >
          <rmx-icon name="user-add-line"></rmx-icon>
        </button>
        <button
          (click)="onChangeRelation('You are friend')"
          class="acceptive"
          tooltip="Accept Request"
          *ngIf="listOfFriends && pendingRequest"
        >
          <rmx-icon name="check-fill"></rmx-icon>
        </button>
        <button
          (click)="onChangeRelation('Rejected Request')"
          class="rejective"
          tooltip="Reject Request"
          *ngIf="listOfFriends && pendingRequest"
        >
          <rmx-icon name="close-line"></rmx-icon>
        </button>
        <button
          (click)="onChangeRelation('Cancelled Request')"
          class="rejective"
          tooltip="Cancel Request"
          *ngIf="listOfFriends && myRequest"
        >
          <rmx-icon name="close-line"></rmx-icon>
        </button>
      </div>
      <div class="ml-auto flex items-center justify-end" *ngIf="forAdmin">
        <button
          (click)="onDeActivate()"
          class="rejective"
          tooltip="De-activate"
        >
          <rmx-icon name="forbid-2-line"></rmx-icon>
        </button>
      </div>
    </div>
  </div>
</div>
