@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply w-screen h-screen m-0 p-0 box-border;
    background-image: repeating-linear-gradient(
        90deg,
        hsla(78, 0%, 63%, 0.05) 0px,
        hsla(78, 0%, 63%, 0.05) 1px,
        transparent 1px,
        transparent 104px
      ),
      repeating-linear-gradient(
        0deg,
        hsla(78, 0%, 63%, 0.05) 0px,
        hsla(78, 0%, 63%, 0.05) 1px,
        transparent 1px,
        transparent 104px
      ),
      repeating-linear-gradient(
        0deg,
        rgba(0, 155, 226, 0.04) 0px,
        rgba(0, 155, 226, 0.04) 1px,
        transparent 1px,
        transparent 26px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(0, 155, 226, 0.04) 0px,
        rgba(0, 154, 226, 0.04) 1px,
        transparent 1px,
        transparent 26px
      ),
      linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255));
  }

  @mixin default-link {
    @apply relative text-blue-700 no-underline font-medium
    before:absolute before:w-full before:h-1 before:rounded before:bg-blue-400 before:left-0 before:-bottom-0.5 
    before:origin-left before:scale-x-0 before:transition before:duration-500 before:ease-in-out
    hover:before:scale-x-100;
  }

  a {
    &.link {
      @include default-link;
    }

    &.nav-link {
      @include default-link;
      @apply text-inherit;
    }

    &.active-link {
      @apply bg-sky-100 text-sky-600 px-3 py-3 scale-107 rounded-xl font-bold;
    }
  }
}

app-root {
  @apply w-full h-full flex flex-col overflow-x-hidden overflow-y-auto;
}

@layer components {
  .card {
    @apply w-fit h-fit px-5 py-8 bg-slate-50 rounded-md border border-slate-200 shadow-md;
  }

  .text-input {
    @apply mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
      focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none;
  }

  .input-invalid {
    @apply border-pink-500 text-pink-600 focus:border-pink-500 focus:ring-pink-500;
  }

  .invalid-msg {
    @apply mt-2 text-pink-600 text-sm;
  }

  .btn-primary {
    @apply flex justify-center items-center bg-blue-500 text-blue-50 text-base font-semibold px-5 py-2 rounded shadow-md shadow-blue-500/50
     hover:bg-blue-600 focus:outline-none active:translate-y-0.5 active:shadow-none;
  }

  .btn-success {
    @apply flex justify-center items-center bg-lime-500 text-blue-50 text-base font-semibold px-5 py-2 rounded shadow-md shadow-lime-500/50
     hover:bg-lime-600 focus:outline-none active:translate-y-0.5 active:shadow-none;
  }

  .step {
    @apply relative flex items-center justify-center p-1 text-white text-base font-medium h-fit w-fit rounded-full shadow-md shadow-blue-400/30;
  }

  @mixin spinner-block {
    @apply inline-block w-fit h-fit pb-1;
  }

  @mixin spinner-pseudo {
    @apply content-[''] block w-6 h-6 mx-2 rounded-full animate-spin border-2 border-solid border-x-transparent;
  }

  .spinner-light {
    @include spinner-block;
    &::after {
      @include spinner-pseudo;
      @apply border-y-slate-200;
    }
  }

  .spinner-dark {
    @include spinner-block;

    &::after {
      @include spinner-pseudo;
      @apply border-y-blue-500;
    }
  }
}
