<div class="w-full h-full flex flex-col pt-6">
  <div
    class="card dynamic-card-post z-10 flex flex-col items-center h-fit gap-3 duration-700 ease-in-out"
    id="card_creation_elem"
  >
    <quill-editor class="w-full" [formControl]="post"> </quill-editor>
    <div class="relative group w-2/5 aspect-video" *ngIf="postImgUrl">
      <img
        [src]="postImgUrl"
        class="rounded-md shadow-md w-full h-full"
        alt=""
      />
      <button
        *ngIf="postImgUrl"
        (click)="removePostImg()"
        class="hidden group-hover:flex group-focus:flex justify-center items-center rounded-full text-white bg-red-400 hover:bg-red-500 drop-shadow-2xl absolute right-1/2 bottom-0 translate-x-1/2 -translate-y-1/2"
      >
        <rmx-icon name="close-line"></rmx-icon>
      </button>
    </div>

    <div class="flex items-center w-full">
      <input
        type="file"
        #postImg
        accept=".png,.jpg,.jpeg"
        id="postImgUpload"
        (change)="onSelectPostImg($event)"
        hidden
      />
      <label class="post-img-label" for="postImgUpload">
        <rmx-icon name="landscape-fill"></rmx-icon>
      </label>
      <button
        class="group btn-primary ml-auto"
        [disabled]="!(post.value | trim) || !authInfo?._id"
        (click)="onPost()"
      >
        <rmx-icon
          name="send-plane-line"
          *ngIf="!showPostSpinner"
          class="mr-3 duration-500 group-disabled:group-hover:-translate-y-0 group-disabled:group-hover:-translate-x-0 group-hover:translate-x-1 group-hover:-translate-y-1"
        ></rmx-icon>
        <div class="spinner-light" *ngIf="showPostSpinner"></div>
        Post
      </button>
    </div>
  </div>
  <div
    class="flex w-full gap-4 pb-6"
    *ngIf="showLoadPostSpinner"
    [ngClass]="setPaddingTopOfPost ? '!pt-[16rem] md:!pt-[13.5rem]' : 'pt-6'"
  >
    <app-post-loading-placeholder
      *ngFor="let usersPost of [0, 1]"
    ></app-post-loading-placeholder>
  </div>
  <div
    class="columns-md w-full pb-6 duration-300 ease-in-out"
    [ngClass]="setPaddingTopOfPost ? '!pt-[16rem] md:!pt-[13.5rem]' : 'pt-6'"
  >
    <app-post-detail
      *ngFor="let usersPost of allPosts"
      [postData]="usersPost"
    ></app-post-detail>
  </div>
</div>
