.dynamic-card-post {
  @apply fixed top-20;
  left: calc(25vw + 1.5rem);
  width: calc(70vw - 1.5rem);
}

.post-img-label {
  @apply relative inline-block cursor-pointer p-2
  rounded-full border-0
  text-sm font-semibold
  bg-sky-50 text-sky-700
  hover:bg-sky-200;

  &::after {
    @apply absolute content-['Photo'] hidden w-max right-0 bottom-0 translate-x-full -translate-y-full px-4 py-2 bg-slate-50 text-slate-700 
    border border-slate-200 rounded shadow-sm;
  }

  &:hover {
    @apply after:block;
  }
}

.post-img-preview {
  max-width: 60% !important;
  max-height: 60% !important;
}

.slide-in-top {
  animation: slide-in 0.45s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
